@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');
@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
.body {
    width: 100%;
    background-image: url("/assets/img/login-img.jpg");
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

textarea {
   width: 100%;
    height: 100%; 
    box-sizing: border-box;
}

.scrollable {
    overflow-y: auto;
    max-height: 600px;
}

.scrollable-container {
    overflow-y: auto;
    min-width: fit-content;
    /* min-height: 600px; */
    max-height: 1200px;


}

.row-section {
    float: left;
    width: 100%;
}

.row-section h2 {
    float: left;
    width: 100%;
    color: #fff;
    margin-bottom: 30px;
    font-size: 14px;
}

.row-section h2 span {
    font-family: 'Libre Baskerville', serif;
    display: block;
    font-size: 45px;
    text-transform: none;
    margin-bottom: 20px;
    margin-top: 30px;
    font-weight: 700;
}

.row-section h2 a {
    color: #d2abce;
}

.row-section .row-block {
    background: #fff;
    padding: 20px;
    margin-bottom: 50px;
}

.row-section .row-block ul {
    margin: 0;
    padding: 0;
}

.row-section .row-block ul li {
    list-style: none;
    margin-bottom: 20px;
}

.row-section .row-block ul li:last-child {
    margin-bottom: 0;
}

.row-section .row-block ul li:hover {
    cursor: grabbing;
}

.row-section .row-block .media {
    border: 1px solid #d5dbdd;
    padding: 5px 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.04);
    background: #fff;
}

.row-section .media .media-left img {
    width: 75px;
}

.row-section .media .media-body p {
    padding: 0 15px;
    font-size: 14px;
}

.row-section .media .media-body h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
    padding-left: 14px;
    margin-top: 12px;
}

.row-section .media .media-body h6 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
    padding-left: 14px;
}

.linebreak {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    max-width: 40%;
    height: 30px;
    display: block;
}