<div class="jumbotron text-light" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(https://static01.nyt.com/images/2017/05/11/t-magazine/bookstore-slide-2MCD/bookstore-slide-2MCD-superJumbo.jpg)">
    <h1 class="display-4">Curiosity Books and Games</h1>
    <p class="lead">Knowledge begins with Curiosity</p>
    <hr class="my-4">
    <p>Browse our selection of Paper, Audio, and Digital works!</p>
    <a class="btn btn-light btn-lg" routerLink="/products" role="button">Shop</a>
</div>